@import "variables";

html {
    font-size: 125%;
}

body {
    color: $fontColor;
}

a {
    text-decoration: none;
    color: $fontColor;
}

.wrapper {
    max-width: 1200px;
    width: 74%;
    margin: 0 auto;
}